{% extends 'base.html' %}

{% block title %} About us! {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/mainstyle.css') }}">
{% endblock %}

{% block body %}
<h1 style="display: inline;">showAboutPage()</h1>
{% if session['ActiveUser'] %} <h1 class="usernametag" title="Your Username!">
    | {{ session['ActiveUser'] }}</h1>{% endif %}
<br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, ducimus.</p>

<a href="{{ url_for('home') }}">take me home</a>

{% endblock %}