{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/mainstyle.css') }}">
{% endblock %}
{% block title %}Error{% endblock %}

{% block body %}

<h1 style="color:red; font-style: italic;">----foundERROR()----</h1>

<h3 style="color:red; ">{{ error }}</h3>

<a href="{{ url_for('home') }}" style="display: inline;">take me home</a>
{% if session['ActiveUser'] %}
<a href="{{ url_for('user.accountInfo') }}">go to Account Page</a>
{% endif %}

{% endblock %}