{% extends 'base.html' %}
{% block title %} Registerpage {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
{% endblock %}

{% block body %}

<form action="#" method="POST" style="text-align: center;">
    <h2>newRegister()</h2>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" placeholder="Username Goes Here"> 
    <br>
    <label for="pasword">Password: </label>
    <input type="password" name="password" id="password" placeholder="Password Goes Here">
    <br>
    <label for="emailid">Email (optional): </label>
    <input type="email" name="emailid" id="email" placeholder="Email Goes Here">
    <br>
    <input type="submit" class="button" value="Count me in!">
</form>

<a href="{{ url_for('user.login') }}">wanna log in ?</a><br>
<a href="{{ url_for('home') }}">take me home</a>

{% if error %}
<p id="error" style="color: red;">{{ error }}</p>
{% endif %}

{% endblock %}